@font-face {
  font-family: "Gotham-book";
  font-weight: small;
  font-style: normal;
  src: url("../fonts/gothambook.woff") format("woff");
}

@font-face {
  font-family: "Gotham-bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/gothambold.woff") format("woff");
}

@font-face {
  font-family: "Gotham-normal";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/gothammedium.woff") format("woff");
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body,
html {
  min-height: 100%;
  width: 100%;
}

.clear::after,
.clear::before {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

.button {
  font-size: 14px;
  font-family: "Gotham-book";
  text-transform: uppercase;
  text-decoration: none;
  color: #2c4058;
  display: inline block;
  border: solid 1px black;
  padding: 20px 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  color: white;
  border: rgba(8, 238, 235, 0.7) solid 1px;
  background: linear-gradient(32deg, rgba(8, 238, 235, 0.7) 0%, rgba(166, 9, 238, 0.7) 100%);
}

.line {
  margin: auto;
  width: 100px;
  height: 1.5px;
  background: #2c4058;
}

.title {
  margin: 40px auto 100px;
  font-size: 44px;
  font-family: "Gotham-bold";
  text-align: center;
  text-transform: uppercase;
  color: #2c4058;
}

#header {
  background: url("../images/headerBG.png") no-repeat left, -webkit-gradient(linear, left bottom, left top, from(#55b7ff), to(#7e5aff));
  background: url("../images/headerBG.png") no-repeat left, linear-gradient(to top, #55b7ff, #7e5aff);
  background-size: cover;
  height: 100vh;
}

.navigation {
  padding-top: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo-img {
  display: block;
  width: 241px;
  height: 54px;
  fill: white;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  position: relative;
  margin: auto 35px;
}

.menu__item::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 30%;
  left: -20px;
  border: white 1px solid;
  border-radius: 50%;
}

.menu__item:hover::before {
  background-color: white;
}

.menu__item--active::before {
  background-color: white;
}

.menu__link {
  font-family: "Gotham-book";
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  line-height: 1.57;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0 auto 20px;
  border: white solid 1px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.social .logo-icon {
  margin-top: 3px;
  fill: white;
  width: 20px;
  height: 20px;
}

.main {
  text-align: center;
  margin-top: 20vw;
}

.main__title {
  font-family: "Gotham-bold";
  font-size: 80px;
  text-transform: uppercase;
  color: white;
  line-height: 0.28;
  letter-spacing: 4px;
  margin-bottom: 39px;
}

.main__description {
  font-size: 18px;
  font-family: "Gotham-normal";
  text-transform: uppercase;
  color: white;
  line-height: 1.22;
  letter-spacing: 5.4px;
}

.scroll {
  text-align: center;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  bottom: 13%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: scroll 2s ease-in-out infinite;
          animation: scroll 2s ease-in-out infinite;
  cursor: pointer;
}

.scroll__logo {
  fill: white;
  margin-right: 2px;
  width: inherit;
  height: inherit;
}

@-webkit-keyframes scroll {
  0% {
    bottom: 13%;
  }
  50% {
    bottom: 10%;
  }
  100% {
    bottom: 13%;
  }
}

@keyframes scroll {
  0% {
    bottom: 13%;
  }
  50% {
    bottom: 10%;
  }
  100% {
    bottom: 13%;
  }
}

.about__line {
  padding-top: 120px;
}

.about__commerce {
  margin-top: 170px;
}

.about__images .img {
  position: relative;
  z-index: 1;
  height: 470px;
}

.about__images .img-shadow {
  height: 470px;
  position: absolute;
  top: -70px;
  left: -215px;
}

.about__images .img-shadow--right {
  position: absolute;
  height: 470px;
  top: -70px;
  right: -215px;
}

.about__info {
  text-align: left;
  padding-left: 70px;
}

.about__info--right {
  padding: 0 70px 0 0;
}

.about__info__title {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #2c4058;
  font-family: "Gotham-bold";
  font-size: 44px;
  text-transform: uppercase;
}

.about__info__title--small {
  font-family: "Gotham-book";
  font-size: 22px;
  margin-bottom: 10px;
}

.about__info__desc {
  margin-bottom: 40px;
  height: 80px;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  line-height: 1.67;
  font-size: 16px;
  color: #4b5562;
}

.about__info__location {
  margin-top: 60px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-style: italic;
}

.about__info__location .logo-location {
  width: 18px;
  height: 18px;
}

.gallery {
  text-align: center;
}

.gallery__line {
  padding-top: 140px;
}

.gallery__col {
  padding: 0px;
}

.gallery__images {
  margin-bottom: 60px;
}

.gallery__imgBig {
  width: 580px;
  height: 440px;
  padding-right: 10px;
  position: relative;
}

.gallery__360 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gallery__imgSmall {
  display: block;
  width: 285px;
  height: 215px;
  margin-bottom: 10px;
  padding-right: 10px;
}
/*# sourceMappingURL=styles.css.map */