@font-face {
  font-family: "Gotham-book";
  font-weight: small;
  font-style: normal;
  src: url("../fonts/gothambook.woff") format("woff");
}

@font-face {
  font-family: "Gotham-bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/gothambold.woff") format("woff");
}

@font-face {
  font-family: "Gotham-normal";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/gothammedium.woff") format("woff");
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body,
html {
  min-height: 100%;
  max-width: 100%;
}

.clear::after,
.clear::before {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

.button {
  font-size: 14px;
  font-family: "Gotham-book";
  text-transform: uppercase;
  text-decoration: none;
  color: #2c4058;
  display: inline block;
  border: solid 1px black;
  padding: 20px 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  color: white;
  border: #55b7ff solid 1px;
  background: linear-gradient(32deg, rgba(8, 238, 235, 0.7) 0%, rgba(166, 9, 238, 0.7) 100%);
}

.line {
  margin: auto;
  width: 100px;
  height: 1.5px;
  background: #2c4058;
}

.title {
  margin: 40px auto 100px;
  font-size: 44px;
  font-family: "Gotham-bold";
  text-align: center;
  text-transform: uppercase;
  color: #2c4058;
}

.slick-slide {
  margin: 0 15px;
}

.slick-arrow {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  top: 45%;
}

.slick-prev {
  left: -60px;
  background: url("../images/back.svg") 45% 50%/50% no-repeat;
}

.slick-next {
  right: -60px;
  background: url("../images/next.svg") 55% 50%/50% no-repeat;
}

.slick-prev:hover,
.slick-prev:focus {
  background: url("../images/back.svg") 45% 50%/50% no-repeat;
}

.slick-next:hover,
.slick-next:focus {
  background: url("../images/next.svg") 55% 50%/50% no-repeat;
}

.slick-prev:before,
.slick-next:before {
  content: "";
}

.slick-dots li {
  margin: 0 20px;
}

.slick-dots li button::before {
  font-size: 8px;
  content: "";
  border-radius: 50%;
  border: 1.5px solid white;
}

.slick-dots li.slick-active {
  background: white;
  border-radius: 50%;
}

#header {
  background: url("../images/headerBG.png") no-repeat left, -webkit-gradient(linear, left bottom, left top, from(#55b7ff), to(#7e5aff));
  background: url("../images/headerBG.png") no-repeat left, linear-gradient(to top, #55b7ff, #7e5aff);
  background-size: cover;
  height: 100vh;
}

.navigation {
  padding-top: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo-img {
  display: block;
  width: 241px;
  height: 54px;
  fill: white;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  position: relative;
  margin: auto 35px;
}

.menu__item::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 30%;
  left: -20px;
  border: white 1px solid;
  border-radius: 50%;
}

.menu__item:hover::before {
  background-color: white;
}

.menu__item--active::before {
  background-color: white;
}

.menu__link {
  font-family: "Gotham-book";
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  line-height: 1.57;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0 auto 20px;
  border: white solid 1px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.social__item:hover {
  border: 1.5px solid #55b7ff;
}

.social__item:hover .logo-icon {
  fill: #55b7ff;
}

.social .logo-icon {
  margin-top: 3px;
  fill: white;
  width: 20px;
  height: 20px;
  margin-left: 1px;
}

.main {
  text-align: center;
  margin-top: 20vw;
}

.main__title {
  font-family: "Gotham-bold";
  font-size: 80px;
  text-transform: uppercase;
  color: white;
  line-height: 0.28;
  letter-spacing: 4px;
  margin-bottom: 39px;
}

.main__description {
  font-size: 18px;
  font-family: "Gotham-normal";
  text-transform: uppercase;
  color: white;
  line-height: 1.22;
  letter-spacing: 5.4px;
}

.scroll {
  position: absolute;
  bottom: 13%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: scroll 2s ease-in-out infinite;
          animation: scroll 2s ease-in-out infinite;
  cursor: pointer;
}

.scroll__link {
  display: block;
  text-align: center;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scroll__link:hover {
  border: 1.5px solid #7e5aff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scroll__link:hover .scroll__logo {
  fill: #7e5aff;
}

.scroll__logo {
  fill: white;
  margin-top: 35%;
  width: 15px;
  height: 15px;
}

@-webkit-keyframes scroll {
  0% {
    bottom: 13%;
  }
  50% {
    bottom: 10%;
  }
  100% {
    bottom: 13%;
  }
}

@keyframes scroll {
  0% {
    bottom: 13%;
  }
  50% {
    bottom: 10%;
  }
  100% {
    bottom: 13%;
  }
}

.about {
  height: 1630px;
}

.about__line {
  padding-top: 120px;
}

.about__commerce {
  margin-top: 170px;
}

.about__images .img {
  position: relative;
  z-index: 1;
  height: 470px;
}

.about__images .img-shadow {
  height: 470px;
  position: absolute;
  top: -70px;
  left: -215px;
}

.about__images .img-shadow--right {
  position: absolute;
  height: 470px;
  top: -70px;
  right: -215px;
}

.about__info {
  text-align: left;
  padding-left: 70px;
}

.about__info--right {
  padding: 0 70px 0 0;
}

.about__info__title {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #2c4058;
  font-family: "Gotham-bold";
  font-size: 44px;
  text-transform: uppercase;
}

.about__info__title--small {
  font-family: "Gotham-book";
  font-size: 22px;
  margin-bottom: 10px;
}

.about__info__desc {
  margin-bottom: 40px;
  height: 85px;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: #4b5562;
}

.about__info__location {
  margin-top: 60px;
  font-size: 18px;
  color: #2c4058;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-style: italic;
}

.about__info__location .logo-location {
  width: 18px;
  height: 18px;
  fill: #2c4058;
}

.news {
  background: url("../images/newsBG.png") no-repeat bottom, -webkit-gradient(linear, left bottom, left top, from(#3c7fd4), to(#24ccfa));
  background: url("../images/newsBG.png") no-repeat bottom, linear-gradient(to top, #3c7fd4, #24ccfa);
  height: 1035px;
}

.news__line {
  padding-top: 140px;
}

.news__line .line--white {
  background: white;
}

.news .title--white {
  color: white;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.article {
  background: white;
  margin-bottom: 60px;
  width: 370px;
  cursor: pointer;
}

.article__img {
  width: 100%;
  margin-bottom: 10px;
}

.article__title {
  margin: 20px;
  line-height: 1.2;
  font-family: "Gotham-bold";
  font-size: 22px;
  color: #2c4058;
  text-transform: uppercase;
  height: 50px;
  overflow: hidden;
}

.article__desc {
  height: 50px;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  font-size: 18px;
  color: #4b5562;
  margin: 20px;
}

.article__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 20px 30px;
}

.author__info {
  margin-left: 20px;
  font-family: "Gotham-book";
}

.author__info__name {
  color: #2c4058;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.author__info__date {
  color: #55b7ff;
  font-size: 14px;
}

.gallery {
  height: 1000px;
  text-align: center;
}

.gallery__line {
  padding-top: 140px;
}

.gallery__col {
  padding: 0px;
}

.gallery__images {
  margin-bottom: 60px;
}

.gallery__imgBig {
  width: 580px;
  height: 440px;
  padding-right: 10px;
  position: relative;
}

.gallery__360 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gallery__imgSmall {
  display: block;
  width: 285px;
  height: 215px;
  margin-bottom: 10px;
  padding-right: 10px;
}

.map {
  width: 100%;
  height: 700px;
}

.contact {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 375px;
  z-index: 1;
  width: 770px;
  height: 450px;
  background: url("../images/formBG.png") no-repeat bottom, white;
}

.contact__line {
  padding-top: 60px;
}

.contact .title--form {
  margin: 30px auto 60px;
}

.contact__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__info__item {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Gotham-book";
  font-size: 14px;
}

.contact__info__item:first-child {
  margin-top: 0;
}

.contact-icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button--form {
  background: transparent;
  padding: 16px 30px;
  width: 140px;
  height: 50px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.form__name,
.form__mail {
  font-family: "Gotham-book";
  color: #2c4058;
  height: 30px;
  font-size: 18px;
  padding-bottom: 15px;
  margin-bottom: 35px;
  border-bottom: 1.5px solid #4b5562;
}

.form__name:focus,
.form__mail:focus {
  border-bottom: 1.5px solid #55b7ff;
}

.footer {
  position: relative;
  width: 100%;
  height: 525px;
  background: url("../images/footerBG.png") no-repeat bottom, -webkit-gradient(linear, left bottom, left top, from(#55b7ff), to(#7e5aff));
  background: url("../images/footerBG.png") no-repeat bottom, linear-gradient(to top, #55b7ff, #7e5aff);
}

.footer__nav {
  width: 770px;
  margin: auto;
  padding-top: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__nav__info > p {
  margin-top: 40px;
  color: white;
  font-family: "Gotham-book";
  font-size: 14px;
}

.footer__nav__info > p .copyright {
  padding-right: 10px;
  border-right: 1px solid white;
}

.footer__nav__info > p .love {
  padding-left: 10px;
}
/*# sourceMappingURL=styles.css.map */