.button {
  font-size: 14px;
  font-family: $got;
  text-transform: uppercase;
  text-decoration: none;
  color: $darkBlue;
  display: inline block;
  border: solid 1px black;
  padding: 20px 40px;
  transition: all 0.3s;

  &:hover {
    color: $white;
    border: $blue solid 1px;
    background: linear-gradient(
      32deg,
      rgba(8, 238, 235, 0.7) 0%,
      rgba(166, 9, 238, 0.7) 100%
    );
  }
}

.line {
  margin: auto;
  width: 100px;
  height: 1.5px;
  background: $darkBlue;
}

.title {
  margin: 40px auto 100px;
  font-size: 44px;
  font-family: $gotBold;
  text-align: center;
  text-transform: uppercase;
  color: $darkBlue;
}

.slick-slide {
  margin: 0 15px;
}

.slick-arrow {
  width: 40px;
  height: 40px;
  border: 1px solid $white;
  border-radius: 50%;
  top: 45%;
}

.slick-prev {
  left: -60px;
  background: url("../images/back.svg") 45% 50% / 50% no-repeat;
}

.slick-next {
  right: -60px;
  background: url("../images/next.svg") 55% 50% / 50% no-repeat;
}

.slick-prev:hover,
.slick-prev:focus {
  background: url("../images/back.svg") 45% 50% / 50% no-repeat;
}
.slick-next:hover,
.slick-next:focus {
  background: url("../images/next.svg") 55% 50% / 50% no-repeat;
}

.slick-prev:before,
.slick-next:before {
  content: "";
}

.slick-dots li {
  margin: 0 20px;
}

.slick-dots li button::before {
  font-size: 8px;
  content: "";
  border-radius: 50%;
  border: 1.5px solid $white;
}

.slick-dots li.slick-active {
  background: $white;
  border-radius: 50%;
}
