//Font
$got: "Gotham-book";
$gotReg: "Gotham-normal";
$gotBold: "Gotham-bold";
$openSans: "Open Sans", sans-serif;

//Color

$white: white;
$darkBlue: #2c4058;
$grey: #4b5562;
$blue: rgba(8, 238, 235, 0.7);
