//Font
$got: "Gotham-book";
$gotReg: "Gotham-normal";
$gotBold: "Gotham-bold";
$openSans: "Open Sans", sans-serif;

//Color

$white: white;
$darkBlue: #2c4058;
$grey: #4b5562;
$blue: #55b7ff;
$violet: #7e5aff;
