header {
  background: url("../images/tu-tram-pham-202263.png") no-repeat center,
    linear-gradient(32deg, rgba(8, 238, 235, 1) 0%, rgba(166, 9, 238, 1) 100%);
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.navigation {
  padding-top: 53px;
  display: flex;
  justify-content: space-between;
}

.logo-img {
  width: 241px;
  height: 54px;
  fill: #fff;
}

.menu {
  display: flex;
  justify-content: center;

  &__item {
    margin: auto 20px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 9px;
      height: 9px;
      top: 30%;
      left: -20px;
      border: white 1px solid;
      border-radius: 50%;
    }

    &:hover::before {
      background-color: white;
    }

    &--active::before {
      background-color: white;
    }
  }

  &__link {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: $got;
    line-height: 1.57;
  }
}

.social {
  display: flex;
  justify-content: center;

  &__item {
    display: block;
    margin: auto 20px;
    border: white solid 1px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
  }

  .facebook {
    width: 9px;
    height: 16px;
  }

  .twitter {
    width: 15px;
    height: 12px;
  }
  .instagram {
    width: 14px;
    height: 15px;
  }
}

.header__title {
  font-family: $got;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  line-height: 0.28;
  letter-spacing: 4px;
  margin-bottom: 39px;
  margin-top: 270px;
}

.header__description {
  font-size: 18px;
  font-family: $got;
  text-transform: uppercase;
  color: white;
  line-height: 1.22;
  letter-spacing: 5.4px;
}

.scroll {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  bottom: 13%;
  left: 50%;
  transform: translateX(-50%);
  animation: scroll 2s ease-in-out infinite;
  padding-top: 7px;
  cursor: pointer;
}

@keyframes scroll {
  0% {
    bottom: 13%;
  }
  50% {
    bottom: 10%;
  }
  100% {
    bottom: 13%;
  }
}
