#header {
  background: url("../images/headerBG.png") no-repeat center top,
    linear-gradient(to top, #55b7ff, #7e5aff);
  height: 800px;
  position: relative;
}

.navigation {
  padding-top: 53px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-img {
  display: block;
  width: 241px;
  height: 54px;
  fill: $white;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    position: relative;
    margin: auto 35px;

    &::before {
      content: "";
      position: absolute;
      width: 9px;
      height: 9px;
      top: 30%;
      left: -20px;
      border: $white 1px solid;
      border-radius: 50%;
    }

    &:hover::before {
      background-color: $white;
    }

    &--active::before {
      background-color: $white;
    }
  }

  &__link {
    font-family: $got;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: $white;
    line-height: 1.57;
  }
}

.social {
  display: flex;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0 auto 20px;
    border: $white solid 1px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &:hover {
      border: 1.5px solid $blue;
      .logo-icon {
        fill: $blue;
      }
    }
  }

  .logo-icon {
    margin-top: 3px;
    fill: $white;
    width: 20px;
    height: 20px;
    margin-left: 1px;
  }
}

.main {
  text-align: center;
  margin-top: 300px;

  &__title {
    font-family: $gotBold;
    font-size: 80px;
    text-transform: uppercase;
    color: $white;
    line-height: 0.28;
    letter-spacing: 4px;
    margin-bottom: 39px;
  }

  &__description {
    font-size: 18px;
    font-family: $gotReg;
    text-transform: uppercase;
    color: $white;
    line-height: 1.22;
    letter-spacing: 5.4px;
  }
}

.scroll {
  position: absolute;
  bottom: 13%;
  left: 50%;
  transform: translateX(-50%);
  animation: scroll 2s ease-in-out infinite;
  cursor: pointer;

  &__link {
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
    border: 1px solid $white;
    border-radius: 50%;
    transition: 0.3s;
    &:hover {
      border: 1.5px solid $violet;
      transition: 0.3s;
      .scroll__logo {
        fill: $violet;
      }
    }
  }

  &__logo {
    fill: $white;
    margin-top: 35%;
    width: 15px;
    height: 15px;
  }
}

@keyframes scroll {
  0% {
    bottom: 13%;
  }
  50% {
    bottom: 10%;
  }
  100% {
    bottom: 13%;
  }
}
